[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "bundle/colorscheme-lucius"]
	path = bundle/colorscheme-lucius
	url = https://github.com/vim-scripts/Lucius.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/scrollcolors"]
	path = bundle/scrollcolors
	url = https://github.com/vim-scripts/ScrollColors.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "bundle/colorscheme-molokai"]
	path = bundle/colorscheme-molokai
	url = https://github.com/tomasr/molokai.git
[submodule "bundle/colorscheme-base16"]
	path = bundle/colorscheme-base16
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/colorscheme-solarized"]
	path = bundle/colorscheme-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/dart-vim-plugin"]
	path = bundle/dart-vim-plugin
	url = https://github.com/dart-lang/dart-vim-plugin.git
[submodule "bundle/align"]
	path = bundle/align
	url = https://github.com/vim-scripts/Align.git
	ignore = untracked
[submodule "configuration-module-lib"]
	path = configuration-module-lib
	url = https://github.com/usommerl/configuration-module-lib.git
[submodule "bundle/colorscheme-seoul256"]
	path = bundle/colorscheme-seoul256
	url = https://github.com/junegunn/seoul256.vim.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/gitv"]
	path = bundle/gitv
	url = https://github.com/gregsexton/gitv.git
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat.git
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala.git
[submodule "bundle/unite"]
	path = bundle/unite
	url = https://github.com/Shougo/unite.vim.git
[submodule "bundle/unite-outline"]
	path = bundle/unite-outline
	url = https://github.com/Shougo/unite-outline.git
[submodule "bundle/vimproc"]
	path = bundle/vimproc
	url = https://github.com/Shougo/vimproc.vim.git
	ignore = untracked
[submodule "bundle/unite-session"]
	path = bundle/unite-session
	url = https://github.com/Shougo/unite-session.git
[submodule "bundle/linediff"]
	path = bundle/linediff
	url = https://github.com/AndrewRadev/linediff.vim.git
[submodule "bundle/colorscheme-gruvbox"]
	path = bundle/colorscheme-gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "bundle/dbext"]
	path = bundle/dbext
	url = https://github.com/vim-scripts/dbext.vim.git
	ignore = untracked
[submodule "bundle/rename"]
	path = bundle/rename
	url = https://github.com/danro/rename.vim.git
[submodule "bundle/indentLine"]
	path = bundle/indentLine
	url = https://github.com/Yggdroot/indentLine
[submodule "bundle/fzf"]
	path = bundle/fzf
	url = https://github.com/junegunn/fzf
